body {
	font-size	            : 100%; /* Assume 1em is 16px */
	line-height           : 1.1em;
  font-family           : helvetica, verdana, arial, sans-serif;
  color                 : black;
  background-color      : white;
  margin                : 0px;
  padding               : 0px;
}

body div, input, textarea, select {
	font-size             : 1em;
}

a {
	text-decoration       : none;
	color                 : #334499;
}
a:hover {
	text-decoration       : underline;
}
a:active {
	color                 : #CDE;
	text-decoration       : none;
}

#Header {
	/* height should be the same as the line-height for the menu */
	height                : 1.5em;
	background-color      : #CCDDEE;
	border-bottom         : 1px dotted #445566;
}

#Content {
	padding               : 10px;
}

#Footer {
	font-size             : .625em; /* 10px = 16px * .625em */
  text-align            : center;
  color                 : #777;
	border-top            : 1px dotted black;
	margin                : 10px;
}

#MenuBar {
	position              : absolute;
}
#MenuBar div.menu_text, #MenuBar ul {
	background-color      : #CCDDEE;
	line-height           : 1.5em;
	margin                : 0 9px;
	padding               : 0px;
	float                 : left;
}
#MenuBar ul {
	list-style            : none;
	border-left           : 1px solid #CCDDEE;
	margin                : 0 9px;
	padding               : 0px;
	width                 : 8em;
}
#MenuBar ul li {
	padding               : 0 2px;
}
#MenuBar ul .item {
	padding               : 1px 5px;
	display               : none;
}
#MenuBar ul:hover .item {
	border-bottom         : 1px solid #CCDDEE;
	display               : block;
}
#MenuBar ul .item:hover,
#MenuBar ul .top:hover {
	background-color      : #DDEEFF;
}
#MenuBar ul:hover {
	border-left           : 1px solid #445566;
	border-bottom         : 1px solid #445566;
}
#MenuBar div.menu_text label {
	font-weight           : bold;
}
#MenuBar div.menu_text {
	font-size             : .875em;
}
#MenuBar a {
	color                 : #000;
	text-decoration       : none;
}


ul.inline {
  padding               : 0;
  margin                : 10px;
}
ul.inline li {
  display               : inline;
  list-style-type       : none;
  border-left           : 1px solid black;
  
  padding               : 0 8px;
  margin                : 0;
  
}
ul.inline li.firstListItem {
  border-left           : none;
}

.clear {
	clear                 : both;
}

#Messages {
	margin                : 5px auto;
	width                 : 75%;
	display               : none;
}
#Messages label {
	font-weight           : bold;
}
#messageText {
	margin                : 10px 20px;
}
#clearLink {
	float                 : left;
}
div.Success {
	border                : 2px solid #87CEEB;
}
div.Notice {
	border                : 2px solid #888;
}
div.Warning {
	border                : 2px solid #FFA500;
}
div.Error {
	border                : 2px solid #F00;
}