/* @todo: these should be moved to a different css file. */
#notesBox {
	float                 : right;
}
#notesBox textarea {
	width                 : 300px;
	height                : 300px;
	margin                : 5px;
}
.abilityLabel {
	font-weight           : bold;
}



#powerList {
	width                 : 625px;
}

.power {
	width                 : 300px;
	border                : 1px solid black;
	margin                : 5px;
	float                 : left;
}

.titleBar, .row0, .row1 {
	padding               : 0px 5px;
}

.titleBar {
	color                 : #FFF;
}

.titleBar .powerTitle {
	font-weight						: bold;
}

.titleBar .powerLevel {
	display               : block;
	float                 : right;
}

.atwill {
	background-color      : #528855;
}

.encounter {
	background-color      : #7E012A;
}

.daily {
	background-color      : #3B3B3C;
}

.row0 {
	background-color      : #FFF;
}

.row1 {
	background-color      : #D8D7C5;
}

.usage, .keywords, .actionType, .target, .attack {
	font-weight           : bold;
}

.range {
	float                 : right;
	display               : block;
}

.usedPower {
	display               : none;
}