.power {
	font-size             : .75em; /* 12px = 16px * .75em */
	width                 : 300px;
	margin                : 5px 0px;
	border                : 1px solid black;
}

.titleBar, .row0, .row1 {
	padding               : 0px 5px;
}
.titleBar {
	font-size             : 1em;
	color                 : #FFF;
}
.titleBar .powerTitle {
	font-weight						: bold;
}
.titleBar .powerLevel {
	display               : block;
	float                 : right;
}

.power label {
	font-weight           : bold;
}

.At-Will {
	background-color      : #528855;
}
.Encounter {
	background-color      : #7E012A;
}
.Daily {
	background-color      : #3B3B3C;
}
.row0 {
	background-color      : #FFFFFF;
}
.row1 {
	background-color      : #D8D7C5;
}

.usage, .keywords, .actionType {
	font-weight           : bold;
}
.keywords {
	font-size             : .625em;
}
.range {
	float                 : right;
	display               : block;
}
.usedPower {
	display               : none;
}