.powerBox {
	font-size             : .75em; /* 12px = 16px * .75em */
	width                 : 300px;
	margin                : 0;
	border                : 1px solid black;
}

.titleBar, .row0, .row1 {
	padding               : 0px 5px;
}
.titleBar {
	font-size             : 1em;
	color                 : #FFF;
}
.titleBar .powerTitle {
	font-weight						: bold;
}
.titleBar .powerLevel {
	display               : block;
	float                 : right;
}

.powerBox label {
	font-weight           : bold;
}

.At-Will {
	background-color      : #528855;
}
.Encounter {
	background-color      : #7E012A;
}
.Daily {
	background-color      : #3B3B3C;
}
.Healing-Surge {
	background-color      : #C29024;
}

.usage, .keywords, .actionType {
	font-weight           : bold;
}
.keywords {
	font-size             : .625em;
}
.range {
	float                 : right;
	display               : block;
}

img.power_view, img.power_use, img.power_refresh {
	cursor                : pointer;
}