#PlayerNotes {
	margin-left           : 655px;
	width                 : 205px;
}

#PlayerNotes textarea {
	width                 : 200px;
	height                : 400px;
	margin                : 0px;
}
#PlayerNotes input[type="submit"] {
	width                : 200px;
}


.abilityLabel {
	font-weight           : bold;
}
