.contentColumn {
	width                 : 315px;
	margin                : 0 5px;
}
.leftColumn {
	float                 : left;
}
.rightColumn {
	float                 : left;
}
.notesColumn {
	margin-left           : 655px;
}

#PlayerNotes textarea {
	width                 : 100%;
	height                : 300px;
	margin                : 0px;
}

#notes_dirty {
	color                : maroon;
	float                : right;
	display              : none;
}
#updateNotes {
	font-size            : .75em;
}

#StatBlock {
	font-size            : .75em;
	line-height          : 1em;
}
div.statRow {
	margin               : 3px 0;
}
div.statRow label.statLabel {
	font-weight          : bold;
	text-align           : right;
	margin               : 0 10px 0 0;
	width                : 100px;
	display              : block;
	float                : left;
}

div.statRow input[type="text"] {
	font-family           : Courier, monospaced;
	margin               : 0px;
	padding              : 0px;
	border               : 1px solid #777;
}
div.statRow input[type="submit"] {
	margin               : 0;
	padding              : 0;
}

.abilityLabel {
	font-weight           : bold;
}

.Dead {
	color                 : #333;
}
.Unconscious {
	color                 : #777;
}
.Bloodied {
  color                 : #F00;
}

a.ajaxLink {
	text-decoration       : none;
	color                 : #223399;
}
a.ajaxLink:hover {
	text-decoration       : underline;
}
a.ajaxLink:active {
	text-decoration       : none;
	color                 : #CCDDEE;
}