<div class="tabbable">
  <ul class="nav nav-tabs">
		<li class="active"><a href="#powers-active" data-toggle="tab">Powers</a></li>
    <li><a href="#powers-spellbook" data-toggle="tab">Spellbook</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="powers-active">
			<ul class="power-list">

				<li class="power-atwill">
					<div class="power-row-top">
						<h4 class="power-title">Sandman's Veil</h4>
					</div>
					<div class="power-row-bottom">
						<span class="power-action">Standard Action</span>
						&nbsp;&diams;&nbsp;
						<span class="power-range">Close Blast 3</span>
					</div>
				</li>
				<li class="power-atwill power-item">
					<div class="power-row-top">
						<h4 class="power-title">Sandman's Veil</h4>
					</div>
					<div class="power-row-bottom">
						<span class="power-action">Standard Action</span>
						&nbsp;&diams;&nbsp;
						<span class="power-range">Close Blast 3</span>
					</div>
				</li>

				<li class="power-encounter" data-toggle="modal" data-target="#power-modal-ID">
					<div class="power-row-top">
						<h4 class="power-title">Sandman's Veil</h4>
					</div>
					<div class="power-row-bottom">
						<span class="power-action">Standard Action</span>
						&nbsp;&diams;&nbsp;
						<span class="power-range">Close Blast 3</span>
					</div>
				</li>
				<li class="power-encounter power-item">
					<div class="power-row-top">
						<h4 class="power-title">Sandman's Veil</h4>
					</div>
					<div class="power-row-bottom">
						<span class="power-action">Standard Action</span>
						&nbsp;&diams;&nbsp;
						<span class="power-range">Close Blast 3</span>
					</div>
				</li>
				<li class="power-daily">
					<div class="power-row-top">
						<h4 class="power-title">Sandman's Veil</h4>
					</div>
					<div class="power-row-bottom">
						<span class="power-action">Standard Action</span>
						&nbsp;&diams;&nbsp;
						<span class="power-range">Close Blast 3</span>
					</div>
				</li>
				<li class="power-daily power-item">
					<div class="power-row-top">
						<h4 class="power-title">Sandman's Veil</h4>
					</div>
					<div class="power-row-bottom">
						<span class="power-action">Standard Action</span>
						&nbsp;&diams;&nbsp;
						<span class="power-range">Close Blast 3</span>
					</div>
				</li>
			</ul>
    </div>
    <div class="tab-pane" id="powers-spellbook">
      <p>Howdy, I'm in Section 2.</p>
    </div>
  </div>
</div>
<div class="power-modals">
	<div id="power-modal-ID" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Modal header</h3>
		</div>
		<div class="modal-body">
			<p>One fine body…</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>
</div>
