	<table class="table table-bordered table-striped table-condensed">
		<tr>
			<th>STR</th><td><%=data.str%></td>
		</tr>
		<tr>
			<th>CON</th><td><%=data.con%></td>
		</tr>
		<tr>
			<th>DEX</th><td><%=data.dex%></td>
		</tr>
		<tr>
			<th>INT</th><td><%=data.int%></td>
		</tr>
		<tr>
			<th>WIS</th><td><%=data.wis%></td>
		</tr>
		<tr>
			<th>CHA</th><td><%=data.cha%></td>
		</tr>
	</table>
	<table class="table table-bordered table-striped table-condensed">
		<tr>
			<th>AC</th><td><%=data.ac%></td>
		</tr>
		<tr>
			<th>Fort</th><td><%=data.fort%></td>
		</tr>
		<tr>
			<th>Ref</th><td><%=data.will%></td>
		</tr>
		<tr>
			<th>Will</th><td><%=data.will%></td>
		</tr>
	</table>

	<!--

	hp
	surges (value)
	power points

	passive insight, perception

	initiative
	speed
	save bonus
	resists

	action points
	-->

