##
# $Id: .htaccess 188 2009-05-28 16:04:31Z jborzilleri $
##

# Turn off Apache's Multiviews, because it mucks up mod_rewrite
Options -Multiviews

# Enable mod_rewrite
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule ^new$ playerEdit.html?action=add
RewriteRule ^save$ playerEditProcess.php?action=save
RewriteRule ^delete$ playerEditProcess.php?action=delete
RewriteRule ^update$ playerProcess.php
RewriteRule ^import$ import.html
RewriteRule ^upload$ importProcess.php?action=upload
RewriteRule ^([0-9]+)/delete$ playerEdit.html?action=delete&id=$1
RewriteRule ^([0-9]+)/edit$ playerEdit.html?action=edit&id=$1
RewriteRule ^([0-9]+)/power$ power.html?id=$1
RewriteRule ^([0-9]+)/power/new$ powerEdit.html?action=add&id=$1
RewriteRule ^([0-9]+)/power/([0-9]+)/edit$ powerEdit.html?action=edit&id=$1&p_id=$2
RewriteRule ^([0-9]+)/power/save$ powerEditProcess.php?action=save&id=$1
RewriteRule ^([0-9]+)/?$ player.html?id=$1


# Base Rule for product pages.
#RewriteCond %{SCRIPT_FILENAME} !\.(html|php)$
#RewriteRule ^product.*$ product.html
